@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
body{
    width: 100vw;
    height: 100vh;
}
h3{
    background-color: skyblue;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
#div1{
    /* border: 2px solid red; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    margin-left: 5px;
    padding: 2px;
}
#btn{
    padding: 2px;
    margin: 2px;
    background-color: #91D8E4;
    width: 70px;
    /* border-radius: 4px; */
    font-weight: bold;
    transition: 0.5s;
}
#btn:hover{
    background-color: rgb(30, 0, 0);
    color: #F5EDCE;
    font-weight: bold;
}
.divBox{
    border: 2px solid rgb(241, 143, 143);
    height: auto;
    margin-top: 10px;
    padding: 3px;
     /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
     box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}